.post-created {
  position: absolute;
  visibility: hidden;
  left: 50%;
  top: -10rem;
  opacity: 0;
  transform: translateX(-50%);
}

@keyframes post-created-animation-showing {
  0% {
    top: -10rem;
    opacity: 0;
    visibility: hidden;
  }

  25% {
    top: -2.55rem;
    opacity: 1;
    visibility: visible;
  }

  75% {
    top: -2.55rem;
    opacity: 1;
    visibility: visible;
  }

  100% {
    top: -10rem;
    opacity: 0;
    visibility: hidden;
  }
}
